{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Инструкции
{% endblock %}

{% block content %}

<div class="card bg-light instructions">
<div class="card-body">
    <p>
        Основу эксперимента составляет решение двух типов задач: викторины (квиза), состоящей из вопросов
        открытого типа и вопросов с несколькими вариантами ответа, и ручного перепечатывания текста выведенного
        на экран.

    </p>
    <h3>
        Инструкциия к первой части
    </h3>
    <p>
        На выполнение первой части (квиза) Вам даётся 5 минут, при этом вопросы выводятся поочерёдно и их
        максимальное количество ограничено 40. Предполагаем, что каждый правильный ответ приносит 5-10 рублей.
        Вашей целью является правильное решение наибольшего количества вопросов.
    </p>


</div>
</div>

{% next_button %}

{% endblock %}
