{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Инструкции
{% endblock %}

{% block content %}

<div class="card bg-light instructions">
<div class="card-body">
    <h3>
        Инструкции ко второй части
    </h3>

    <p>
        Второе задание состоит в перепечатывании вручную выведенного на экран  случайно сгенерированного текста.
        Копирование текста заблокировано. При сдаче ответа он принимается только в случае полного совпадения с
        примером. Вашей целью является набор наибольшего количества примеров.
    </p>
    <p>
        На выполнение задания отводится 5 минут. Обратитие внимание, что двоеточие в конце требуемой строки
        является её частью и требует ввода.
    </p>
</div>
</div>

{% next_button %}

{% endblock %}
